<nav class="navbar">
  <div class="navbar__logo">
    <h2 routerLink="/">RumbeApp</h2>
  </div>
  <div class="navbar__menu">
    <ul class="nav__links">
      <li
        routerLinkActive="nav__link__active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
      >
        Home
      </li>
      <li
        routerLinkActive="nav__link__active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/new-disco"
      >
        Nuevo rumbeadero
      </li>
    </ul>
  </div>
</nav>
